%h1 Listing users

%table
  %tr
    %th
    %th Email Address
    %th

  - @users.each do |user|
    %tr
      %th= image_tag avatar_url(user, 24)
      %td= link_to user.email, user
      %td= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post, "data-user-id" => user.id

%br
