%h1 Listing users

%table
  %tr
    %th
    %th Name
    %th Email Address
    %th

  - @users.each do |user|
    %tr
      %td= image_tag avatar_url(user, 24)
      %td= user.name || "No name"
      %td= link_to user.email, user
      %td= add_friend_link user

%br
