.hero-unit
  %h1 Welcome to the Bearded Nemesis!
  %p
    This is a place where you can manage your Rock Band songs.
    But it's no ordinary list manager!  It's designed to let you
    make playlists that will let you and your friends have the
    most fun possible!