<div class="box-layout">
  <div class="row-fluid">
    <div class="span12">
      <h3>{{playlist.name}}</h3>
      <a href="#/playlists/{{playlist.id}}/play">Play</a>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span4">
      <fieldset>
        <legend>Details</legend>
        <p>
          <b>User:</b> Playlist.user.display_name
        </p>
      </fieldset>
    </div>
    <div class="span4">
      <fieldset>
        <legend>Players</legend>
        <ul>
          <li ng-repeat="player in playlist.players">{{player.name}}</li>
        </ul>
      </fieldset>
    </div>
    <div class="span4">
      <fieldset>
        <legend>Songs</legend>
        <ul>
          <li ng-repeat="song in playlist.songs">{{song.name}}</li>
        </ul>
      </fieldset>
    </div>
  </div>
</div>
