@import "_variables.css.scss";

body {
  background-color: $backgroundColor !important;
  padding-top: 40px;
}

body > footer {
  border-top: 1px solid #E5E5E5;
  padding: 70px 0;
}

body > footer .span12 {
  text-align: center;
}

section#main {
  background-color: #fff;
  padding: 20px 0 70px 0;
}

.navbar-inverse .brand {
  color:#fff;
  font-family: 'Permanent Marker', cursive;
  font-size:22px;
}

.field_with_errors {
  display:inline !important;
}

.field_with_errors > label {
  color:#ff0000;
}

.controls > .field_with_errors {
  display:table !important;
}

.box-layout {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  margin: 40px auto 20px;
  padding: 19px 29px 29px;

  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}

.btn-xxlarge {
  padding: 18px 23px;
  font-size: 30px;
  line-height: normal;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

@media (max-width: 979px) {
  body,
  section#main {
    padding-top: 0;
  }

  .navbar-fixed-top {
    margin-bottom:0;
  }

  table.collapse-on-tablet {
    thead {
      display:none;
    }

    tbody, tfoot, th, tr, td {
      display:block
    }

    tr + tr {
      margin-top:1em
    }
    span.visible-tablet { font-weight: bold;
    }

    span.clearfix select,
    span.clearfix input {
      float:right;
    }
  }

  .row-fluid .offset2:first-child,
  .row-fluid .offset3:first-child {
    margin-left: 0;
  }
}