@import "_variables.css.scss";

body {
  background-color: $backgroundColor !important;
  padding-top: 40px;
}

body > footer {
  border-top: 1px solid #E5E5E5;
  padding: 70px 0;
}

section#main {
  background-color: #fff;
  padding: 20px 0 70px 0;
}

.navbar-inverse .brand {
  color:#fff;
  font-family: 'Permanent Marker', cursive;
  font-size:22px;
}

.field_with_errors {
  display:inline !important;
}

.field_with_errors > label {
  color:#ff0000;
}

.controls > .field_with_errors {
  display:table !important;
}