// Place all the styles related to the Playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#add-songs-container {
  margin-top:-58px;
}

#performance-wrapper {
  .song-details {
    margin-top: 30px;

    li {
      font-size: 2em;
      line-height: 1.2em;

      strong {
        color:#ccc;
      }
    }
  }

  .song-rating {
    margin-top:40px;
    text-align: center;

    input {
      height:3em;
      width:3em;
    }
  }

  .song-nav {
    margin-top:40px;
    text-align: center;
  }

  .btn.btn-primary {
    color:#fff;
  }
}

#add-songs-sidebar-wrapper {
  background: #fff;
  border-left: solid 2px #ccc;
  bottom:0;
  position:absolute;
  right:0;
  top:0;
  width:250px;

  #add-songs-sidebar {
    padding: 20px;
  }

  input {
    width: 100%;
  }
}