// Place all the styles related to the Accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "_variables.css.scss";

section#main {
  background-color: $backgroundColor;
}

.form-signin {
  max-width: 300px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .help-links {
  margin-top:20px;
}