// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "ratings.css.scss";

#filter li {
  padding:0 14px 0 10px;
}

.popover.left .arrow {
  top:47px;
}

.popover-content .form-actions {
  display:none;
}

.ownership {
  cursor: pointer;
  width: 30px;
  display: inline-block;
  text-align: center;
}

.popover-content .control-group {
  margin:0;
}

.popover-content .control-label {
  padding:0;
  width:100px;
}

.popover-content .controls {
  margin-left:120px;
}

#ratings-popup {
  width: 340px;
}
