!!! 5
%html{"ng-app"=>"beard"}
  %head
    %title The Bearded Nemesis
    %link{:rel => "stylesheet", :type => "text/css", :href => "//fonts.googleapis.com/css?family=Permanent+Marker"}
    = stylesheet_link_tag "mobile"
    = csrf_meta_tags
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.brand{:href => "/"}
            The Bearded Nemesis

    %section#main
      .container-fluid
        .row-fluid
          = yield

    %footer
      .container-fluid
        .row-fluid
          .span12
            &copy; 2013 The Bearded Nemesis, Inc. LLC.

    = javascript_include_tag "application"